@page "/fileimport"
@inject IDialogService DialogService
@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Quicken Export File Import</PageTitle>

<div class="mb-3">
    <MudText Typo="Typo.h3">Quicken Export File Import</MudText>
    <MudText Typo="Typo.body1">Import Quicken Export File transactions from a CSV file.</MudText>
</div>

<div>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.AddCircleOutline" Color="MudBlazor.Color.Primary" Style="width: 240px;" OnClick="@(e => OnAddQuickenCsv())">Add Quicken Export CSV</MudButton>
</div>

@code 
{
    string accountName = "";

    private async void OnAddBankCsv()
    {
        DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

        var result = await DialogService.Show<CsvBankImport>("CSV Import", dialogOptions).Result;
    }

    private async void OnAddQuickenCsv()
    {
        DialogOptions dialogOptions = new() { FullWidth = true, CloseOnEscapeKey = true };

        var result = await DialogService.Show<CsvQuickenImport>("CSV Import", dialogOptions).Result;
    }
}
